.blue {
	background-color: blue;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
img {
	width: 100%;
}
.orange {
	background-color: orange;
}
.silver {
	background-color: silver;
}

.purple {
	background-color: purple;
}

.yellow {
	background-color: yellow;
}